body {
	width: 600px;
	margin: 350px auto;
	background-color: #191919;
	background-image: url('bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-family: tahoma;
	font-size: 11px;
	color: white;
}

a {
	color: rgb(250, 235, 125);
	text-decoration: none;
}

a:hover {
	color: white;
}

.menu {
	background-color: #191919;
	padding: 10px;
}

iframe[name="content"] {
	width: 100%;
	height: 300px;
	border: none;
}